body{
    background-color: #0050c3;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

#header{
    display: flex;
    justify-content: space-between;
    background-color: #0050c3;
    padding: 20px;
    padding-left: 40px;
    padding-right: 60px;

}

.logo{
    width: 200px;
    margin-top: 1px;
    margin-left: 20px;
    padding-top: 20px;
}

.seccionazul{
    background-color: #0050c3;
}

.login{
    width: 90px;
    margin-top: 30px;
    text-decoration: none;
    padding: 15px;
    color: white;
}

.separar-header{
    display: flex;
}


h1{
    color: aliceblue;
    font-style: Nunito;
    justify-content: center;
}


.boton-mail{
    color: aliceblue;
    size: 20px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5cm; 
    width: 230px;        
    height: 45px;       
    padding: 15px;
}


.boton-iniciar-sesion{
    width: 185px;
    margin-top: 12px;
    background-color: aliceblue;
    color: #0050c3;
    border-radius: 80px;
    size: 5px;
    padding-bottom: 15cm;
    height: 45px;
}

.texto-1{
    flex: 100px;
}

.seccion-blanca{
    background-color: white;
    padding: 60px;
    margin: 20px;
}

.imagen-2{
    width: 300px;
    border-radius: 50%;
    border: 5px solid white;
    margin-right: 20px;
    margin-top: 0%;
    }

.boton-caja1{
    width: 1250px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5cm;               
    padding: 15px;
    height:150px

}

.texto-001{
    color: black;
    font-style: inherit;

}

.boton-caja2{
    width: 1250px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5cm;              
    padding: 15px;
    height:150px
}

.boton-caja3{
    width: 1250px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5cm;              
    padding: 15px;
    height:150px
}

.imagen-3{
    width: 200px;
    margin-top:25px; 
}

.boton-caja4{ 
    width: 1050px;
    margin: 12px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5cm; 
    padding: 5px;
    background-color:#0050c3;
}

.boton-box1{
    width: 1500px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5cm;              
    padding: 15px;
    height:115px;
}

.boton-box2{
    width: 1500px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5cm;              
    padding: 15px;
    height:115px;
}

.boton-box3{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5cm;              
    padding: 15px;
    height:115px;
}

.imagen-04{
    width: 700px;
    margin-top:25px;
    margin-left: 1200px;

}

.boton-box6{
    width: 250px;
    margin: 12px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5cm; 
    padding: 5px;
    background-color:#0050c3;
}

footer{
    margin-top: 90px;
    margin-bottom: 60px;
    margin-left: 90px;
}

.flex-box{
    flex-direction: row;
}
